ipaddress==1.0.23
mysql-connector-python==9.1.0
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
pyodbc==5.2.0
dask==2024.11.2
dask[dataframe]
scikit-learn==1.5.2
seaborn==0.13.2
matplotlib==3.9.2
user-agents==2.2.0
swifter==1.4.0
hmmlearn==0.3.3